* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #253858;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #253858;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #42526E;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1040px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 80px;
}
header div.left{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
header div.left a{
    margin-left: 25px;
}
header div.left a img{
    
}
header div.left h2{
    margin: 10px 0;
}
header div.left h2 a{
    color: grey;
    display: inline-block;
    text-decoration: none;
}
header div.right{
    margin: 25px;
}
header div.right a{

}
header div.right a img{
    margin-right: 20px;
    width: 30px;
}
header div.right a.button_1{
    margin: 25px;
    padding: 15px 20px;
    border: 1px solid black;
}
header div.right a.button_2{
    padding: 15px 20px;
    border: 1px solid grey;
    color: #fff;
    background: grey;
}
hr.line{
    border-bottom: 1px solid #000;
}
#spotlight { 
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#spotlight .left { 
    width: 50%;
    margin-left: 100px;
}

#spotlight .left h1 { 
    font-size: 60px;
    width: 80%;
    margin-top: 200px;
    font-weight: 700;
}

#spotlight .left p { 
    width: 80%;
    font-size: 24px;
    margin-bottom: 25px;
}

#spotlight .left .button { 
    background:rgba(78,142,247,255);
    padding: 10px 50px;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
}

#spotlight .right { 
    width: 50%;
}

#spotlight .right img { 
    margin-left: 150px;
}
#dowload {
    margin-top: 50px; 
    display: flex;
    background: rgba(248,250,252,255);
    width: 100%;
    justify-content: space-around;
    height: 100px;
    

}
#dowload .one { 
    border-right: 5px solid rgba(226,232,240,255);
    width: 22%;
}
#dowload .one h2 { 
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
#dowload .one p { 
    font-size: 20px;
    text-align: center;
}
#cate { 
    margin-top: 50px;
    width: 100%;
    margin-right: 50px;
}
#cate .head{
    display: flex;
    justify-content: space-between;
}
#cate .head h1{
    margin-left: 50px;
    margin-bottom: 50px;
    font-weight: 600;
}
#cate .head a.button{
    margin-right: 50px;
    color: #0052cc;
}
#cate .flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
#cate .item { 
    width: 100%;
    align-content: center;
    margin-left: 50px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 250px;
    border-radius: 12px;
}
#cate .item img { 
    background: rgba(224,242,254,255);
    width: 100px;
    height: 100px;
    padding: 33px;
    border-radius: 42%;
}
#cate .item h3 { 
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
#cate .item .small { 
    
}
#courses { 
    margin: 50px;
}
#courses .head{
    display: flex;
    justify-content: space-between;
}
#courses .head h1{
    margin-bottom: 50px;
    font-weight: 600;
}
#courses .head a.button{
    margin-right: 50px;
    color: #0052cc;
}
#courses .flex { 
    display: flex;
    justify-content: space-between;
}
#courses .flex .menu { 
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    height: 338px;
    width: 22%;
    padding: 20px 15px;
}
#courses .flex .menu img { 
    width: 100%;
}
#courses .flex .menu h3 { 
    margin-bottom: 5px;
    margin-top: 5px;
}
#courses .flex .menu h4 { 
    margin-bottom: 5px;
}
#courses .flex .menu .image { 

}
#courses .flex .menu .image img { 
    width: 7%;
}
#courses .flex .menu .label { 

}
#courses .flex .menu h5 { 
    font-weight: 600;
    font-size: 20px;
}
#instructors { 
   margin: 50px;

}
#instructors .top { 
    display: flex;
    justify-content: space-between;
}
#instructors .top h2 { 
    margin-bottom: 50px;
    font-weight: 600;
}
#instructors .top a.button { 
    margin-right: 50px;
    color: #0052cc;
}
#instructors .bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#instructors .teacher { 
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    width: 20%;
    height: 350px;
    text-align: center;
}
#instructors .teacher:nth-child(even){
    margin: 0 30px;
}
#instructors .teacher img { 
    margin-top: 20px;
    width: 80%;
}
#instructors .teacher h3 { 
    font-weight: 600;
    margin: 10px 0;
}
#instructors .teacher .label { 
    color: #334155;

}
#instructors .teacher .line_one { 
    width: 80%;
    border: 1px solid #E2E8F0;
    margin: 0 auto;
    margin-top: 10px;
}
#instructors .teacher .image_line { 
    display: flex;
    justify-content: space-between;
}
#instructors .teacher .image_line img { 
    width: 6%;
    margin-left: 25px;
}
#instructors .teacher .image_line small { 
    margin-top: 25px;
    margin-right: 150px;
    font-weight: 600;
}
#instructors .teacher .image_line h5 { 
    font-weight: 600;
    margin-top: 25px;
    margin-right: 10px;
}
#review { 
    margin: 50px;
}
#review .top { 
    display: flex;
    justify-content: space-between;
}
#review .top h1 { 
    font-size: 24px;
    font-weight: 600;
    width: 20%;
    margin-bottom: 25px;
}
#review .top .arrow { 

}
#review .top .arrow img { 
    background: #94A3B8;
    height: 50px;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 12px;
}
#review .bottom { 
    display: flex;
    justify-content: space-between;
}
#review .bottom .james { 
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    height: 330px;
    width: 30%;
}
#review .bottom .james img { 
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 25px;
    width: 10%;
}
#review .bottom .james p { 
    margin-left: 20px;
    font-size: 18px;
    color: #000;
}
#review .bottom .james .person { 
    display: flex;
    justify-content: space-between;
    width: 40%;
}
#review .bottom .james .person .image2 { 
    width: 40%;
}
#review .bottom .james .person .image2 img { 
    width: 100%;
    border-radius: 100%;
}
#review .bottom .james .person .image7 { 
    margin-top: 50px;
}
#review .bottom .james .person .image7 h5 { 
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}
#review .bottom .james .person .image7 h6 { 
    font-size: 14px;
}
#main { 
    margin: 50px;
}
#main .top { 
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 0 auto;
}
#main .top .left { 
    width: 45%;
    margin-left: 80px;
}
#main .top .left img { 

}
#main .top .right { 
    width: 45%;
    margin: auto 0;
    padding-right: 50px;
    margin-right: 50px;
}
#main .top .right h1 { 
    font-size: 32px;
    margin-bottom: 15px;
}
#main .top .right p { 
    font-size: 20px;
    margin-bottom: 25px;
}
#main .top .right .button { 
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
}
#main .top .right .button img { 
    margin-left: 5px;
}
#main .bottom { 
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#main .bottom .left { 
    margin: auto 0;
    margin-left: 80px;
    width: 45%;
}
#main .bottom .left h1 { 
    font-size: 32px;
    margin-bottom: 15px;
}
#main .bottom .left p { 
    font-size: 20px;
    margin-bottom: 25px;
    width: 70%;
}
#main .bottom .left .button { 
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
}
#main .bottom .right img { 

}
footer { 
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background:#1E293B;
}

footer .one { 
    width: 35%;
}

footer .one img { 
    
}

footer .one h2 { 
    display: inline-block;
    margin-bottom: 25px;
    font-weight: 600;
    color: #fff;
}

footer .one p { 
    font-size: 18px;
    color: #CBD5E1;

}
footer .two { 
    width: 15%;
    color: #CBD5E1;
}
footer .two ul { 

}
footer .two ul li { 
    margin-top: 10px;
}
footer .two ul li a{
    color: #CBD5E1;
}
footer .two ul li h3 { 
    font-weight: 600;
    color: #fff;
}
footer .three { 
    width: 15%;
}
footer .three ul { 
    
}
footer .three ul li { 
    margin-top: 10px;
    color: #CBD5E1;
}
footer .three ul li a{
    color: #CBD5E1;
}
footer .three ul li h3 { 
    font-weight: 600;
    color: #fff;
}
footer .four { 
    width: 25%;
}
footer .four h3 { 
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
    display: block;
}
footer .four p { 
    margin-bottom: 10px;
    color: #CBD5E1;
}
footer .four a { 
    margin-bottom: 25px;
    display: inline-block;
    color: #CBD5E1;
}
footer .four .social { 

}
footer .four .social a{ 
    
}
footer .four .social a img{ 
    
}
@media all and (max-width:980px){
    #spotlight .right img {
        margin-left: 71px;
    }
    #spotlight .left h1{
        font-size: 45px;
    }
    #courses .flex .menu h3{
        font-size: 18px;
        font-weight: 600;
    }
    #courses .flex .menu h5{
        margin-top: 5px;
    }
    #instructors .bottom{
        flex-wrap: wrap;
        width: 100%;
    }
    #instructors .teacher {
        width: 30%;
    }
    #instructors .teacher:nth-child(4){
        margin-top: 25px;
        margin-left: 113px;
    }
    #instructors .teacher:nth-child(5){
        margin-top: 25px;
        margin-right: 102px;
    }
    #instructors .teacher .image_line small{
        margin-right: 90px;
    }
    #review .top h1{
        width: 28%;
    }
    #review .bottom .james {
        height: 409px;
    }
    #review .bottom .james .person{
        width: 74%;
    }
    #main .top .left{
        margin-right: 25px;
    }
    #main .top .right {
        padding: 0;
    }
    #main .bottom .right { 
        margin-left: 0px;
        width: 40%;
    }
    #main .bottom .left p{
        width: 80%;
    }
}
@media all and (max-width:768px){
    #spotlight .left{
        width: 100%;
        margin: 0 auto;
        padding-left: 100px;
    }
    #spotlight .left h1{
        font-size: 38px;
        margin-top: 60px;
        width: 100%;
        margin-bottom: 25px;
    }
    #spotlight .right{
        width: 0%;
    }
    #spotlight .right img{
        display: none;
    }
    #dowload{
        height: 120px;
    }
    #dowload .one:last-child{
        border-right: 0;
    }
    #dowload .one h2{
        font-size: 24px;
    }
    #dowload .one p {
        font-size: 16px;
    }
    #cate .head h1 {
        font-size: 30px;
    }
    #cate .flex{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #cate .item {
        width: 43%;
    }
    #cate .item:nth-child(1),#cate .item:nth-child(2){
        margin-bottom: 25px;
    }
    #courses .head h1{
        font-size: 30px;
    }
    #courses .flex {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #courses .flex .menu {
        width: 43%;
    }
    #courses .flex .menu:nth-child(1), #courses .flex .menu:nth-child(2){
        margin-bottom: 25px;
    }
    #instructors .teacher .image_line small{
        margin-right: 60px;
        margin-top: 31px;
    }
    #review .top h1 {
        width: 34%;
    }
    #review .top .arrow img {
        height: 45px;
    }
    #review .bottom {
        flex-wrap: wrap;
        width: 100%;
    }
    #review .bottom .james {
        width: 48%;
    }
    #review .bottom .james:last-child{
        margin-top: 25px;
    }
    #main .top{
        flex-wrap: wrap;
    }
    #main .top .left{
        width: 100%;
    }
    #main .top .right{
        width: 100%;
        text-align: center;
    }
    #main .bottom{
        flex-wrap: wrap;
    }
    #main .bottom .left{
        width: 100%;
        text-align: center;
    }
    #main .bottom .right{
        width: 100%;
        text-align: center;
       
    }
    footer {
        flex-wrap: wrap;
    }
    footer .one {
        width: 45%;
        margin: 0 auto;
    }
    footer .two {
        width: 45%;
        margin: 0 auto;
    }
    footer .three{
        width: 45%;
        margin: 0 auto;
        margin-top: 25px;
        margin-left: 25px;
    }
    footer .four {
        width: 45%;
        margin: 0 auto;
    }
}
@media all and (max-width:640px){
    #dowload {
        flex-wrap: wrap;
        width: 100%;
        height: 168px;
    }
    #dowload .one {
        width: 45%;
    }
    #dowload .one:nth-child(2) {
        border-right: 0;
    }
    #cate .head h1 {
        font-size: 25px;
    }
    #cate .item {
        width: 40%;
    }
    #cate .item:nth-child(2n){
        margin-right: 10px;
    }
    #cate .item:nth-child(odd){
        margin-left: 68px;
    }
    #courses .head h1 {
        font-size: 24px;
    }
    #instructors .teacher{
        width: 45%;
    }
    #instructors .teacher:nth-child(odd){
        margin: 0;
        margin-bottom: 15px;
    }
    #instructors .teacher:nth-child(even){
       margin: 0;
       margin-bottom: 15px;
    }
}
@media all and (max-width:480px){
    header div.left h2 a {
        display: none;
    }
    header div.right a img{
        display: none;
    }
    header div.right a.button_1{
        font-size: 10px;
        padding: 10px 15px;
    }
    header div.right a.button_2{
        font-size: 10px;
        padding: 10px 15px;
    }
    #spotlight .left h1{
        font-size: 31px;
    }
    #spotlight .left p{
        font-size: 20px;
    }
    #spotlight .left .button {
      font-size: 15px;
    }
    #cate .head h1 {
        font-size: 24px;
    }
    #cate .item:nth-child(odd) {
        margin-left: 21px;
    }
    #cate .item:nth-child(2n) {
        margin-right: 25px;
    }
    #courses .head h1 {
        font-size: 21px;
    }
    #courses .flex .menu {
        width: 80%;
        margin-bottom: 20px;
    }
    #instructors .teacher {
        height: 282px
    }
    #instructors .teacher .image_line small {
        margin-right: 20px;
    }
    #review .top h1 {
        font-size: 19px;
        width: 60%;
    }
    #review .top .arrow img {
        height: 31px;
        padding: 6px 9px;
    }
    #review .bottom .james {
        width: 98%;
        margin-bottom: 25px;
    }
    #main .top .left {
        margin-left: 0px;
    }
    #main .top .left img {
        width: 80%;
    }    
    #main .bottom .left{
        text-align: left;
        margin-left: 0;
    }
    #main .bottom .right img {
        width: 80%;
    }
    footer .one {
        width: 90%;
        margin-bottom: 25px;
    }
    footer .two{
        width: 80%;
        margin-left: 19px;
    }
    footer .three {
        width: 80%;
        margin-bottom: 25px;
    }
    footer .four {
        width: 80%;
        margin-left: 24px;
    }
    footer .four .social {
        width: 80%;
    }
    footer .four .social a{
        width: 16%;
    }
}
@media all and (max-width:360px){
    #spotlight .left {
        padding-left: 62px;
    }
    #spotlight .left h1 {
        font-size: 21px;
    }
    #spotlight .left p {
        font-size: 14px;
    }
    #spotlight .left .button {
        font-size: 12px;
        padding: 9px 29px;
    }
    #dowload {
        height: 215px;
    }
    #dowload .one {
        width: 50%;
    }
    #dowload .one h2 {
        font-size: 20px;
    }
    #dowload .one p {
        font-size: 15px;
    }
    #cate .head h1 {
        font-size: 16px;
    }
    #cate .head a.button{
        font-size: 14px;
    }
    #cate .item {
        width: 90%;
    }
    #cate .item:nth-child(2n) {
        margin-right: 18px;
        margin-left: 23px;
    }
    #cate .item:nth-child(4) {
        margin-top: 25px;
    }
    #courses .head h1 {
        font-size: 17px;
    }
    #courses .head a.button{
        font-size: 14px;
        margin-right: -10px;
    }
    #courses .flex .menu{
        width: 100%;
    }
    #courses .flex .menu .label {
        margin-bottom: 10px;
        display: inline-block;
        margin-top: 10px;
    }
    #instructors .top h2 {
        font-size: 18px;
    }
    #instructors .top a.button {
        font-size: 14px;
    }
    #instructors .teacher {
        width: 100%;
        height: 335px;
    }
    #instructors .teacher .image_line small {
        margin-right: 75px;
        margin-top: 23px;
    }
    #instructors .teacher .image_line h5 {
        margin-top: 18px;
    }
    #review .top h1 {
        font-size: 18px;
        width: 68%;
    }
    #review .bottom .james p {
        margin-left: 6px;
        font-size: 18px;
    }
    #main .top .left {
        margin-right: -1px;
    }
    #main .top .right h1 {
        font-size: 25px;
        margin-top: 15px;
    }
    #main .top .right p {
        font-size: 17px;
    }
    #main .top .right .button {
        font-size: 12px;
        padding: 10px 15px;
    }
    #main .bottom .left h1 {
        font-size: 25px;
    }
    #main .bottom .left p {
        font-size: 17px;
        text-align: center;
    }
    #main .bottom .left .button {
        font-size: 15px;
    }
    #main .bottom .right {
        margin-top: 10px;
    }
    footer .four .social{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
    footer .four .social a {
        width: 8%;
    }
}
@media all and (max-width:320px){
    header div.right {
        margin: 10px;
        margin-top: 30px;
    }
    #instructors .teacher .image_line small {
        margin-top: 29px;
    }   
    #review .top h1 {
        width: 70%;
    }
    #review .top .arrow {
        width: 42%;
    }
    #review .bottom .james .person {
        width: 91%;
    }
    #main .top .right{
        margin-right: 0px;
    }
}





























